{{ define "section_content" }}
<article class="flex-container">
    {{ .Content }}
</article>

<nav class="nav-big" role="navigation">
    <ul>
        {{ range .Data.Pages }}
        <li>
            {{ if .Params.isCard }}
                <div class="post-title small-link">{{.Title | markdownify}}</div>
                {{ with .Params.featured_image }}<img class="featured-image" src="{{ . }}">{{ end }}
                <div class="post-date">{{ .PublishDate.Format "January 2, 2006" }}</div>
                <div class="post-description">{{ .Params.description }}</div><br>
                <div id="post-button-dark"><div><a href="{{ .Params.extURL }}" target="_blank">{{ .Params.buttonText }}</a></div></div>
                <hr id="post-divider">
            {{ else if .Params.isPost }}
                <div class="post-title small-link">{{.Title | markdownify}}</div>
                {{ with .Params.featured_image }}<img class="featured-image" src="{{ . }}">{{ end }}
                <div class="post-date">{{ .PublishDate.Format "January 2, 2006" }}</div>
                <div class="post-description">{{ .Params.description }}</div><br>
                <div id="post-button-dark"><div><a href="{{ .RelPermalink }}">{{ .Params.buttonText }}</a></div></div>                
                <hr id="post-divider">
            {{ else }}
                <a href="{{ .RelPermalink }}" class="big-link">{{.Title | markdownify}}</a>  
            {{ end }}
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}